form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
form input {
  font-size: 0.9rem;
  width: 20rem;
  background-color: darkgrey;
  padding: 0.1rem 1rem;
  border-radius: 10px;
  border: solid 0.1rem red;
}

.submit input {
  width: fit-content;
  padding: 0 1rem;
  color: gold;
  background-color: red;
  border: solid 0.1rem gold;
}
