header {
  height: 80px;
  margin-bottom: 10px;
  padding-top: 15px;
}
header a:hover {
  color: white;
}
.top {
  display: flex;
  align-items: center;
}
.logo-top {
  width: calc(100% / 3);
  height: 100%;
  flex: 1;
}
.logo-top img {
  height: 100%;
}
.top-nav {
  height: 100%;
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10px;
}
.header-log {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 1rem;
}
