.home-character-name h3 {
  font-size: 1.5rem;
}
.character-home {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 100%;
}
.home-character-sheet {
  border-radius: 20px;
  width: calc((100% - 25px) / 5);
  height: 400px;
}
.home-character-name {
  text-align: center;
  width: 100%;
}
.home-character-pic {
  height: 74%;
  display: flex;
  flex-direction: column;
}
.home-character-pic img {
  border-radius: 100px;
  object-fit: cover;
  height: 100%;
}
.home-character-pic img:hover {
  border-radius: 10px;
}

.home-character-sheet:hover h3 {
  color: gold;
}
