@import "./assets/header.css";
@import "./assets/home.css";
@import "./assets/comics.css";
@import "./assets/character-comics.css";
@import "./assets/form.css";
@import "./assets/favorites.css";

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  font-family: "Black Ops One", sans-serif;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  color: gold;
}
h1 {
  font-size: 35px;
}
h3 {
  font-size: 22px;
}

body {
  background-color: #35363a;
}
.serch {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 20px;
}
.serch input {
  padding-left: 10px;
  height: 25px;
  width: 500px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: red;
}
:focus {
  outline-color: gold;
}
.container {
  /* max-width: 1350px; */
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.main-container {
  width: 1400px;
  padding: 0 5px;
  margin: 0 auto;
}
.page-skip {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.bottom-btn button {
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #ffd700;
  background-color: red;
  border-color: gold;
  border-radius: 1rem;
}

.btn-modal {
  width: fit-content;
  padding: 0 1rem;

  color: gold;
  background-color: red;
  border-color: gold;
  border-radius: 1rem;
}
.add-fav {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: aliceblue;
}
.add-fav span:hover {
  cursor: pointer;
  color: gold;
}
.description-title {
  margin-bottom: 1rem;
  color: red;
}
.description-modal-text {
  margin-bottom: 1rem;
  color: aliceblue;
}
